.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    place-items: center center;
    margin: 92px 0 96px;
}

header .menu {
    display: flex;
    padding: 7px 0 0 48px;
}

.menu-item {
    padding-right: 35px;
    list-style-type: circle;
}

.menu-item-link {
    font-size: 18px;
    line-height: 1.17;
    color: #000000;
}

.menu-item-active {
    list-style-type: none;
}

.header__logo {
    margin-left: 7px;
}

.header__logo-image {
    display: block;
    width: 97%;
}

.contacts {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    line-height: 1.33;
    padding-left: 102px;
    padding-top: 5px;
}

.telephone {
    letter-spacing: 1px;
}

.major {
    display: flex;
    position: relative;
    margin-bottom: 156px;
    padding-bottom: 50px;
}

.major__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.major__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.major__content {
    width: 100%;
    padding-top: 166px;
    padding-left: 40px;
}

.major__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 127px;
}

.major__title-left {
    display: block;
    letter-spacing: 32px;
    margin-left: 9px;
}

.major__title-left span {
    margin-left: 25px;
}

.major__title-center {
    display: block;
    text-align: center;
    letter-spacing: 31px;
    margin-top: 12px;
    margin-right: 69px;
}

.major__title-center span {
    margin-left: 31px;
}

.major__title-right {
    display: block;
    text-align: right;
    letter-spacing: 30px;
    margin-top: 5px;
    margin-right: 21px;
}

.major__title-right span {
    margin-right: 27px;
}

.major__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}

.major__footer-subline {
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 19px;
    margin-right: 5px;
}

.major__footer-button {
    background-image: none;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    padding: 12px 31px;
    margin-right: 13px;
}

.lots {
    display: grid;
    grid-template: auto 1fr auto / repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 24px;
    padding: 24px;
    margin-bottom: 158px;
}

.lots__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 28px 39px;
}

.lots__title {
    grid-column: 1/span 3;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.17;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 27px;
    margin-left: 40px;
}

.lots__card-left {
    background-image: url(../images/card-lot-01.jpg);
}

.lots__card-center {
    background-image: url(../images/card-lot-02.jpg);
}

.lots__card-right {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__card-title {
    position: relative;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 22px;
}

.lots__card-text {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 18px;
}

.lots__footer {
    grid-column: 1/span 3;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.17;
    margin-top: 32px;
    margin-left: 40px;
}

.about {
    display: grid;
    grid-template-columns: auto auto;
    gap: 72px;
    padding: 0 24px;
    margin-bottom: 148px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000000;
    border-radius: 120px;
    margin-left: 47px;
}


.about__logo-image {
    display: block;
    width: 147px;
}

.about__text-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text p {
    margin-bottom: 25px;
    padding-right: 25px;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 100px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .contacts {
    line-height: 1.34;
    padding: 8px 0 0 51px;
}

footer .menu {
    padding: 7px 0 0 48px;
    margin-right: 73px;
}

footer .menu-item {
    list-style-type: none;
    text-align: center;
    margin-left: 62px;
}

.socials {
    display: flex;
    gap: 48px;
    margin-right: 50px;
    margin: 8px 50px 0 77px;
}

.socials__icon {
    width: 100%;
}